html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2%;
}

table {
    align-self: center;
    margin: auto;
}

tr {
    height: 20px;
}
td {
    width: 20px;
}

.square_red {
    background-color: #aaaaff
}

.square_green{
    background-color: #aa5555
}