html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2%;
}

table {
    align-self: center;
    margin: auto;
}

tr {
    height: 20px;
}
td {
    width: 20px;
}

.untouched_tile {
    background-color: #696970
}

.square_green{
    background-color: #74aa55
}

.bomb {
    background-color: #bd2020;
}