html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2%;
}

table {
    align-self: center;
    margin: auto;
    color: white;
}

tr {
    height: 25px;
}
td {
    width: 25px;
}

.untouched_tile {
    background-color: #696970
}

.touched_tile{
    background-color: #74aa55
}

.bomb {
    background-color: #bd2020;
}

.flag {
    background-color: #dadd14;
}

.question-mark {
    background-color: #dadd14;
}